html,body{
  /* width:100%; */
  height:100%;
}

/* メインコンテンツ */
.content {
  /* 背景色は変えても大丈夫です */
  background-color:#b3d874;
  width:100%;
  height:95vh;
}

.button_box{
    direction: rtl; /*右寄せにする*/
    padding: 1vh;
    /* background: #fff9cc; */
    display:block;
}

/* 三つのボタンの幅をそろえる */
.save_b, .feedback_b, .select_b{
  width:15%;
}


/* 表 */
.table_box{
  overflow-y: auto;
  width:100%;
  -webkit-overflow-scrolling: touch;
  display:flex;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
th, td {
  vertical-align: middle;
  padding: 10px;
  border: 1px solid #000;
  color: #000;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
}
th {
  background: #000;
}
td {
  background: #fff;
}
.sticky {
  position: sticky;
  top: 0;
  left: 0;
  border-top: none;
}
.sticky::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background: #ccc;
  z-index: -1;
}

/* 空部分の色の指定 */
.empty{
  background:#ccc;
}


.comments{
  background-color:#ffffff;
  width:100%;
  height:30vh;
  box-sizing:border-box;
  text-align:left;
  padding-top:0.05%;
  padding-left:2%;
  margin-top:1%;
  border: 3px solid #000;   /* 枠線を追加 */
}