


/* メインコンテンツ */
.content {
  background-color:#b3d874;
  width:77%;
  height:75vh;
  text-align:center;

}

/* サイドバー */
.side {
  background-color:#ff838b;
  width:20%;
  height:75vh;
  text-align:center;
  margin-left:3%;
} 

.content_and_side {
  display:flex;/*サイドバーとメインコンテンツを横並びにする                指定をした*/
}

.select_b,.save_b{
  line-height: 2;
  padding: 0 3rem;
}

/* 表 */
.table_box{
  overflow-y: auto;
  width:100%;
  height: 80vh;
  -webkit-overflow-scrolling: touch;
  margin-top:3%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
th, td {
  vertical-align: middle;
  padding: 10px;
  border: 1px solid #000;
  color: #000;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
}
th {
  background: #000;
}
td {
  background: #fff;
}
.sticky {
  position: sticky;
  top: 0;
  left: 0;
  border-top: none;
}
.sticky::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background: #ccc;
  z-index: -1;
}

/* ----- */

.comments{
  background-color:#a5e7ff;
  width:100%;
  height:20vh;
  box-sizing:border-box;
  text-align:left;
  padding-top:0.05%;
  padding-left:2%;
  margin-top:1%;
}

/* 画像 */
.images{
  display:flex;
}